# Protect again supply chain attacks
min-release-age=7

progress=false


# Init defaults (npm 11+ flat keys; npm 10 falls back to CLI/env)
init-author-name=Ariel Flesler
init-author-email=aflesler@gmail.com
init-author-url=https://github.com/flesler/
init-license=MIT
init-version=1.0.0

cache=/tmp/npm
